body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto !important;
}

a {
  text-decoration: none;
  outline: none;
}

@media screen and (min-width: 992px) {
  .header1 {
    display: flex;
    flex-wrap: wrap;
  }
  .Dtitle1 {
    width: 50%;
    height: 60PX;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;
  }
  .Dtitle1-H {
    width: 40%;
    height: 30px;
  }
  .Dlocation {
    width: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #eaeaea;
  }
  .Dlocation-P {
    outline: none;
    background-color: #eaeaea;
    border: none;
    height: 40px;
    width: 150px;
    color: #000;
    font-size: large;
    font-weight: 500;
  }
  .fa-location-dot {
    padding-right: 15px;
  }
  /*---------NAV1-----------*/
  .nav1 {
    width: 50%;
    height: 410px;
    text-align: center;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 0px 3px 1px #cacaca;
  }
  .nav1-conteneur {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav1-title2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  .nav1 p {
    font-size: 1.1em;
    color: #717171;
  }
  .nav1-btn01 {
    width: 65%;
    height: 50px;
    background: linear-gradient(to right, #d96dda, #a05bdc);
    font-size: 1.1em;
    border-radius: 25PX 25PX;
    box-shadow: 2px 2px 7px #cacaca;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .nav1-btn01 a {
    color: #fff;
  }
  /*------------nav2-------------*/
  .nav-2 {
    width: 50%;
    height: 410px;
    box-shadow: 0px 3px 1px #cacaca;
  }
  .nav-2-title3 {
    padding-left: 60PX;
    margin-top: 40px;
    font-size: 1.4em;
  }
  .nav2 {
    width: 100%;
    height: 285PX;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .conteneur {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: 70PX;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 20PX 20PX;
    box-shadow: 8px 8px 8px #efefef;
    gap: 20px;
  }
  .conteneur:hover {
    background-color: #FFF;
    box-shadow: 10px 10px 12px rgba(239, 239, 239, 0.6039215686);
  }
  .conteneur-number {
    width: 25px;
    height: 25px;
    border: 1px solid #9356dc;
    background-color: #9356dc;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conteneur-number > p {
    color: #fff;
  }
  .conteneur a {
    color: black;
    font-size: 1.2em;
    font-weight: 400;
  }
  .fa-store {
    color: #9356dc;
  }
  /*---------------SECTION-----------*/
  .section {
    width: 100%;
    height: 770PX;
    background-color: #f6f6f6;
  }
  .section-Stitle {
    margin-left: 70PX;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.7em;
    font-weight: bold;
  }
  .Sconteneur {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
  }
  .article {
    width: 45%;
    height: 260px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20PX 20PX 20PX 20PX;
    box-shadow: 10px 10px 10px #e9e9e9;
    position: relative;
  }
  .article-img {
    width: 100%;
    height: 175px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20PX 20PX 0PX 0PX;
  }
  .article .new {
    width: 80px;
    height: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    background-color: #99e2d0;
    color: #008766;
    top: 20px;
    right: 15PX;
  }
  .litletitle {
    font-size: 1.3em;
    font-weight: bold;
    color: #000;
    display: flex;
    padding: 12PX 15PX;
  }
  .litletitle + p {
    color: #000;
    font-size: large;
    display: flex;
    padding-left: 15px;
  }
  .fa-a {
    position: relative;
    display: inline-block;
    bottom: 18%;
    left: 42%;
  }
  .fa-heart {
    position: relative;
    height: 30px;
    bottom: 18%;
    left: 42%;
    color: #000;
  }
  .heart {
    position: absolute;
    right: 1cm;
    top: 0.001cm;
    height: 30PX;
    color: transparent;
  }
  .heart:hover {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: couleur;
            animation-name: couleur;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes couleur {
    from {
      color: transparent;
    }
    to {
      color: #9356dc;
    }
  }
  @keyframes couleur {
    from {
      color: transparent;
    }
    to {
      color: #9356dc;
    }
  }
  /*-----FOOTER---------*/
  .footer {
    width: 100%;
    height: 150PX;
    background-color: #353535;
  }
  .footer-title {
    display: flex;
    justify-content: center;
    font-size: 1.9em;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-left: 15px;
    font-style: italic;
    font-family: "Shrikhand", Arial, georgia, serif;
  }
  .footer-title a {
    color: #FFF;
  }
  .footer li {
    margin-bottom: 10px;
    padding-left: 15px;
    color: #FFF;
  }
  .footer li a {
    color: #fff;
    font-size: 1.4em;
  }
  ul {
    display: flex;
    justify-content: space-evenly;
  }
  .fa-utensils {
    padding-right: 10px;
  }
  .fa-handshake-angle {
    padding-right: 10px;
    height: 12px;
  }
}
@media screen and (max-width: 991px) {
  .Dtitle1 {
    width: 100%;
    height: 60PX;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;
    border-bottom: 2px solid #cfcfcf;
  }
  .Dtitle1-H {
    width: 40%;
    height: 30px;
  }
  .Dlocation {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #eaeaea;
  }
  .Dlocation-P {
    outline: none;
    background-color: #eaeaea;
    border: none;
    height: 40px;
    width: 120px;
    color: #000;
    font-weight: 500;
    font-size: 1em;
  }
  .fa-location-dot {
    padding-right: 15px;
  }
  /*---------NAV1-----------*/
  .nav1 {
    width: 100%;
    height: 290px;
    text-align: center;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .nav1-conteneur {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav1-title2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  .nav1 p {
    font-size: 1.1em;
    color: #717171;
  }
  .nav1-btn01 {
    width: 70%;
    height: 50px;
    background: linear-gradient(to right, #d96dda, #a05bdc);
    font-size: 1.1em;
    border-radius: 25PX 25PX;
    box-shadow: 2px 2px 7px #cacaca;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .nav1-btn01 a {
    color: #fff;
  }
  /*------------nav2-------------*/
  .nav-2 {
    width: 100%;
    height: 410px;
  }
  .nav-2-title3 {
    padding-left: 20PX;
    margin-top: 40px;
    font-size: 1.4em;
  }
  .nav2 {
    width: 100%;
    height: 285PX;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .conteneur {
    display: flex;
    align-items: center;
    width: 85%;
    height: 70PX;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 20PX 20PX;
    box-shadow: 5px 5px 5px #efefef;
    gap: 20px;
  }
  .conteneur:hover {
    background-color: #FFF;
    box-shadow: 10px 10px 12px rgba(239, 239, 239, 0.6039215686);
  }
  .conteneur-number {
    width: 25px;
    height: 25px;
    transform: translate(-40%);
    border: 1px solid #9356dc;
    background-color: #9356dc;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .conteneur-number > p {
    color: #fff;
  }
  .conteneur .fa-solid {
    margin-left: -20px;
  }
  .conteneur a {
    color: black;
    font-size: 1.2em;
    font-weight: 400;
  }
  .fa-store {
    color: #9356dc;
  }
  .fa-mobile-screen-button, .fa-store, .fa-ellipsis-vertical {
    margin-left: -20px;
  }
  /*---------------SECTION-----------*/
  .section {
    width: 100%;
    height: 1230PX;
    background-color: #f6f6f6;
  }
  .section-Stitle {
    padding-left: 20PX;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 1.7em;
    font-weight: bold;
  }
  .Sconteneur {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
  }
  .article {
    width: 90%;
    height: 260px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20PX 20PX 20PX 20PX;
    box-shadow: 10px 10px 10px #e9e9e9;
    position: relative;
  }
  .article-img {
    width: 100%;
    height: 175px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20PX 20PX 0PX 0PX;
  }
  .article .new {
    width: 80px;
    height: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    background-color: #99e2d0;
    color: #008766;
    top: 20px;
    right: 15PX;
  }
  .litletitle {
    font-size: 1.3em;
    font-weight: bold;
    color: #000;
    display: flex;
    padding: 12PX 15PX;
  }
  .litletitle + p {
    color: #000;
    font-size: large;
    display: flex;
    padding-left: 15px;
  }
  .fa-a {
    position: relative;
    display: inline-block;
    bottom: 18%;
    left: 42%;
  }
  .heart-fa {
    position: absolute;
    right: 0.001cm;
    height: 30px;
    color: #000;
    transition: all 900ms ease-in;
  }
  .heart-fa:active {
    color: transparent;
  }
  .heart-fa:active ~ .heart {
    color: transparent;
    background-image: linear-gradient(#99D, #F34);
    background-clip: text;
    -webkit-background-clip: text;
    transform: scale(1);
  }
  .heart {
    height: 30PX;
    transform: scale(0);
    transition: background-image, transform, 1s ease-in-out, -webkit-background-clip;
    transition: background-image, background-clip, transform, 1s ease-in-out;
    transition: background-image, background-clip, transform, 1s ease-in-out, -webkit-background-clip;
  }
  /*------FOOTER---------*/
  .footer {
    width: 100%;
    height: 200PX;
    background-color: #353535;
    margin-top: 50px;
  }
  .footer-title {
    font-size: 1.2em;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
    font-style: italic;
    font-family: "Shrikhand", Arial, georgia, serif;
  }
  .footer-title a {
    color: #FFF;
  }
  .footer li {
    margin-bottom: 10px;
    padding-left: 15px;
    color: #FFF;
  }
  .footer li a {
    color: #fff;
  }
  .fa-utensils {
    padding-right: 10px;
  }
  .fa-handshake-angle {
    padding-right: 10px;
    height: 12px;
  }
}/*# sourceMappingURL=style.css.map */