@import "variables";

body{
    font-family: $font;
    box-sizing: border-box;
}

a{
  text-decoration: none;
}


@media screen and (max-width : 767px) {

.Dtitle1{
@include hei-wid (100%,35PX);
margin-top: 20px;
border-bottom: 1px solid ;
&-H{
  @include flex-center;
  font-family: $font-title; 
  font-size: x-large;
}
}

.Dlocation{

  @include hei-wid (100%,45px);
  @include flex-center;
  background-color: #eaeaea;
  }
  .fa-location-dot{
    padding-right: 15px;
  }

  /*---------NAV1-----------*/


  .nav1{
    @include hei-wid(100%,290px);
   text-align: center;
    
    background-color: $grey;

    &-title2{
    font-size: 1.5em;
    font-weight: bold;
    padding: 40px 25% 20PX 25%;
   
  }
  p{
    font-size: 1.1em;
    padding: 0px 15% 30PX 15%;
  }

  &-btn01{
    @include hei-wid(50%,50px);
    background-color:#d96dda;
    font-size: 1.1em;
    margin-left: 115px;
    border: 1px solid $violet;
    border-radius: 25PX 25PX;
    box-shadow: 1px 1px;
    @include flex-center;

    a{
      color: #fff;
    }
  }
}

/*------------nav2-------------*/

.nav-2-title3{
  padding-left: 20PX;
  margin-top: 40px;
  font-size: 1.3em;
  }


.nav2{
  @include hei-wid (100%, 445PX);
  @include flex-center;
  flex-wrap: wrap;
  
}

.conteneur{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include hei-wid(85%,70PX);
  background-color: $grey;
  border: 1px solid $grey;
  border-radius: 20PX 20PX;
  box-shadow: 0px 1px;
  gap: 20px;
  
  
&-number{
  @include hei-wid (25px, 25px);
  border: 1px solid #9356dc;
  background-color: #9356dc;
  border-radius: 25px;
  
  >p{
color: #fff;
display: flex;
  }

}
  
a{
  color: black;
  font-size: 1.2em;
  font-weight: 400;
    }
}

.fa-store{
  color: #9356dc;
}

/*---------------SECTION-----------*/

.section{
  @include hei-wid (100%,1230PX);
  background-color: $grey;

&-Stitle{
  padding-left: 20PX;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 1.7em;
  font-weight: bold;
}
}

.Sconteneur{
  @include flex-center;
  flex-wrap: wrap;
  gap: 25px;

  a{
    width: 90%
  }
}

.article{
  @include hei-wid (100%, 260px);
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20PX 20PX 20PX 20PX;
  box-shadow: 0px 1px #000;
  

  &-img{
    @include hei-wid(100%,175px);
    object-fit: cover;
    border-radius: 20PX 20PX 0PX 0PX;
    
  }

  .new{
    @include hei-wid (80px,25px);
  position: relative;  
  display: block;
  background-color:#99e2d0;
  color: #008766;
  bottom: 60%;
  left: 77%;
  }
}

.litletitle{
  font-size: 1.3em;
  font-weight: bold;
  color: #000;
  display: flex;
  padding-left: 15px;
  padding-bottom: 10px;
  

  +p{
    color: #000;
    font-size: large;
    display: flex;
    padding-left: 15px;
  }
}

.litletitle2{
  padding: 15PX 15PX ;
}

.fa-heart{
 position: relative;
height: 25px;
 bottom: 20%;
 left: 42%;
color : #000
 
}

.footer{
  @include hei-wid (100%,200PX);
  background-color: #353535;

  &-title{
   
    font-size: large;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
    font-family: $font-title ;

    a{
      color :#FFF;
    }
  }

  li{
    margin-top: 15px;
    padding-left: 15px;
    color: #FFF;

    a{
      color : #fff
    }
  }
  
}

}



