@import "../SCSS/variables";

.Dtitle1{
    @include hei-wid (100%,60PX);
    @include flex-center;
    margin-top: 10px;
    
    
    .fa-arrow-left{
position: absolute;
left: 30px;
height: 25px
    }

    &-H{
        @include hei-wid (40%, 30px);
      }
+.fran{
    @include hei-wid(100%, 260px);
    object-fit: cover;
}
}    
