
  body{
    font-family: $font;
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto !important;
  
   
  }
  
  a{
  text-decoration: none;
  outline: none;
  color: #000
  }

/*--------MEDIA----------*/ 


@media  screen and (min-width :992px ) {


    .Dtitle1{
        @include hei-wid (57%,60PX);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        gap: 30px;
       
      a{
        
        width: 30%;
      }
        
        
        .fa-arrow-left{
          height: 25px;
          margin-left: 10px;
        }
    
        &-H{
            @include hei-wid (35%, 30px);
           
          }

    +.fran{
        @include hei-wid(100%, 200px);
        object-fit: cover;

       
    }
    }   

    /*---------SECTION-----------*/


    section{
        @include hei-wid (100%,870px);
        background-color: #f6f6f6;
       
       
    
    .section-cont{
    @include hei-wid (100%,750px);
    display: flex;
    flex-wrap: wrap
    
    
    
   
    }
    
    }
    .Hcont{
  
      @include hei-wid (100%,70px);
      @include flex-center;
      gap: 50px;
      flex-wrap: wrap;
    align-self: center;
justify-self: center;
    
        &-h1{
            font-size: 2.5em;
            font-weight: 300;
            margin-left: 20px;
            font-family: $font-title    ;
        }
    
        .fa-heart{
            height: 35px;
            margin-right: 10px;
            
        }
    }

    /*---------ARTICLE------------*/


    
    .art{
        @include hei-wid (33%, 600px);
        @include flex-center;
        flex-wrap: wrap;
 
      
        &-border{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
      
    
        &-p{
            font-size: 1.3em;
            padding: 5px;
          font-weight: 300;
          
            
        }

        hr{
          margin-top: 0px;
          margin-left: 5px;
          border: 2px solid #99e2d0;
        }
        a{
            width: 100%;
         @include flex-center;
           
        }
    }

    @keyframes apparition {
      from{transform:translateY(50px); opacity: 0;
       }
    50%{
      transform:translateY(25px); opacity: 0;
    }
    
      to{transform: translate(0px);opacity: 1;
    
      }
    }
    
    
    .art-cont{
    @include hei-wid (90%, 85px);
    background-color:#FFF;
    animation: apparition 1s ease-in-out forwards ;
    opacity: 0;
    border-radius: 20px 20px;
    box-shadow: 5px 5px 3px #e7e7e7;
    overflow: hidden;


    &:active>.cont2>.cont2-p +p{
      margin-right: 80px;
     }

    &:active >.animation{
      background-color: #99e2d0;
      transform: scaleX(1);
      
       &>.animation-rond{
         background-color: #FFF;
     
         &>.fa-check{
           color: #99e2d0;transform: rotate(0deg);
         }
       }
     }
     
    
    &-p{
        font-weight: bold;
        font-size: 1.2em;
        display: flex;
        padding: 15px 0px 15px 15px;
    }
    
    }
    
    .cont2{
        display: flex;
        justify-content: space-between;
    
        &-p{
            margin-left: 15px;
            font-weight: 300;
            white-space: nowrap;
       overflow: hidden;
        text-overflow: ellipsis;
            
            +p{
                margin-right: 20px;
                font-weight: bold;
                transition: all 500ms ease-in-out;
            }
        }
    }

    .art2{
      animation: apparition 1s ease-in-out 0.2s forwards   ;
    }
    
    .art3{
      animation: apparition 1s ease-in-out 0.5s  forwards ;
    }


    .animation{
      @include hei-wid(130px,100%);
      @include flex-center;
      justify-content: flex-start;
      background-color: #99e2d0;
      border-radius: 0px 20px 20px 0px;
      position: absolute;
      top: 0px;
      right: -60px;
     background-color: transparent;
     transform: scaleX(0);
     transition: all 500ms ease-in-out;
    
    
    
    
    
     &-rond{
      @include flex-center;
      border-radius: 20px;
      height: 30px;
      width: 30px;
      background-color: transparent;
      margin-left: 20px;
      transition: all 500MS ease-in-out;
    
    
      .fa-check{
        color: transparent;
    height: 20px;
    transform: rotate(100deg);
    transition: all 500ms ease-in-out;
     
      }
     }
    }

    /*---------BTN----------*/
    
    
    .cont-btn01{
    @include hei-wid (100%,200px);
    @include flex-center;
    background-color: $grey;

    a{
      width: 100%;
  display: flex;
  justify-content: center
    }
    
    
    .btn01{
        @include hei-wid(30%,50px);
        background:linear-gradient(to right,#d96dda,#a05bdc);
        font-size: 1.1em;
        border-radius: 25PX 25PX;
        box-shadow: 2px 2px 7px#cacaca;
        @include flex-center;
    
        >p{
          color: #fff;
          
        }
    }
    }
    
    /*------FOOTER---------*/
    
    
    .footer{
      @include hei-wid (100%,150px);
      background-color: #353535;
     
    
      &-title{
       display: flex;
       justify-content: center;
        font-size: 1.9em;
        margin-bottom: 50px;
        padding-top: 20px;
        padding-left: 15px;
        font-style: italic;
       
        font-family: $font-title;
     
    
        a{
          color :#FFF;
          
        }
      }
    
    
      li{
        
        margin-bottom: 10px;
        padding-left: 15px;
        color: #FFF;
    
        a{
          color : #fff;
          font-size: 1.4em;
          
        }
      }
    
    }

    ul{
        display : flex;
        justify-content: space-evenly;
        
    }
    
      .fa-utensils{
        padding-right: 10px;
      }
      .fa-handshake-angle{
        padding-right: 10px;
        height: 12px;
      }
    

}