.loading{
 

    @include hei-wid (100%,2340px);
    @include flex-center;
    align-items: flex-start;
    
    background:linear-gradient(to top, #FFF 70%, rgb(241, 90, 90));
  z-index: 999;
  top: 0;
  left: 0;
    position: absolute;
  

   &-cont{
 @include hei-wid (100%, 100%);
    margin-top: 550px;
    animation: loading 5s ease-in-out infinite;
   
    &-p{
        color: transparent;
        font-size: 5em;
        font-family: $font-title;
        background-image: linear-gradient(to top,#FFF 80%,rgb(90, 87, 87));
        background-clip: text;
    
    }

    
    }

    img{
  
        width: 100%;
        height: 650px;
        position: absolute;
        top : 750px;
        object-fit: cover;
    }
   }

   @keyframes loading {
    20%{     transform: translateY(-500px); }
   }
  
  
  