
@import "variables";
@import "desktop";




@media screen and (max-width : 991px) {

.Dtitle1{
@include hei-wid (100%,60PX);
@include flex-center;
margin-top: 10px;
border-bottom: 2px solid #cfcfcf;


&-H{
  @include hei-wid (40%, 30px);
}
}

.Dlocation{

  @include hei-wid (100%,45px);
  @include flex-center;
  background-color: #eaeaea;

  &-P{
outline: none;
background-color: #eaeaea;
border: none;
height: 40px;
width: 120px;
color: #000;
font-weight: 500;
font-size: 1em;

  }

  }
  .fa-location-dot{
    padding-right: 15px;
  }

  /*---------NAV1-----------*/


  .nav1{
    @include hei-wid(100%,290px);
   text-align: center;
    background-color: $grey;
    @include flex-center;

    &-conteneur{
      @include hei-wid(80%,200px);
      @include flex-center;
      flex-wrap: wrap;

    }

    &-title2{
    font-size: 1.5em;
    font-weight: bold;
   
  }
  p{
    font-size: 1.1em;
    color: #717171;
    
  }

  &-btn01{
    @include hei-wid(70%,50px);
    background:linear-gradient(to right,#d96dda,#a05bdc);
    font-size: 1.1em;
    border-radius: 25PX 25PX;
    box-shadow: 2px 2px 7px#cacaca;
    @include flex-center;

    a{
      color: #fff;
      
    }
  }
}

/*------------nav2-------------*/

.nav-2{
@include hei-wid(100%, 410px);
&-title3{
  padding-left: 20PX;
  margin-top: 40px;
  font-size: 1.4em;
  }
}

.nav2{
  @include hei-wid (100%, 285PX);
margin-top: 30px;
@include flex-center;
flex-wrap: wrap;

}

.conteneur{
  display: flex;
  
  align-items: center;
  @include hei-wid(85%,70PX);
  background-color: $grey;
  border: 1px solid $grey;
  border-radius: 20PX 20PX;
  box-shadow: 5px 5px 5px #efefef;
  gap: 20px;

  &:hover{
    background-color:#FFF;
    box-shadow: 10px 10px 12px #efefef9a;
  }

  
  
  
&-number{
  @include hei-wid (25px, 25px);

  transform: translate(-40%);
  border: 1px solid #9356dc;
  background-color: #9356dc;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  
 
  
  >p{
color: #fff;

  }

}

.fa-solid{
  margin-left: -20px;
}
  
a{
  color: black;
  font-size: 1.2em;
  font-weight: 400;
    }
}

.fa-store{
  color: #9356dc;
 
}

.fa-mobile-screen-button,.fa-store,.fa-ellipsis-vertical{
  margin-left: -20px
}


/*---------------SECTION-----------*/

.section{
  @include hei-wid (100%,1230PX);
  background-color: $grey;

&-Stitle{
  padding-left: 20PX;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 1.7em;
  font-weight: bold;
}
}

.Sconteneur{
  @include flex-center;
  flex-wrap: wrap;
  gap: 25px;


}

.article{
  @include hei-wid (90%, 260px);
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20PX 20PX 20PX 20PX;
 box-shadow: 10px 10px 10px #e9e9e9;
 position: relative;
  

  &-img{
    @include hei-wid(100%,175px);
    object-fit: cover;
    border-radius: 20PX 20PX 0PX 0PX;
    
  }

  .new{
    @include hei-wid (80px,25px);
    @include flex-center;
  position: absolute;  
  background-color:#99e2d0;
  color: #008766;
  top: 20px;
  right: 15PX;
  }
}

.litletitle{
  font-size: 1.3em;
  font-weight: bold;
  color: #000;
  display: flex;
  padding: 12PX 15PX ;
  
  
  +p{
    color: #000;
    font-size: large;
    display: flex;
    padding-left: 15px;
  }
}

.hearth{
  color: #000;
}

.fa-a{
 position: relative;
 display: inline-block;
 bottom: 18%;
 left: 42%;

}



.fa-heart{
  height: 30px;
 color: #000;

}


.heart{
  position: absolute;
right: 0.001cm;
  height: 30PX;
  color: transparent;
 
  
 

&:active{
  animation: couleur 0.2s  forwards;
  

}
}

@keyframes couleur {
  from{
    color: transparent;
  }
  
  to{
   color: #9356dc ;
  }
}



/*------FOOTER---------*/


.footer{
  @include hei-wid (100%,200PX);
  background-color: #353535;
  margin-top: 50px;

  &-title{
   
    font-size: 1.2em;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
    font-style: italic;
   
    font-family: $font-title;
 

    a{
      color :#FFF;
    }
  }


  li{
    margin-bottom: 10px;
    padding-left: 15px;
    color: #FFF;

    a{
      color : #fff
    }
  }

}

  .fa-utensils{
    padding-right: 10px;
  }
  .fa-handshake-angle{
    padding-right: 10px;
    height: 12px;
  }



}



