 
 /*--TEST--*/

 @mixin elf {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
 }
 
 $primary-color:rgba(197, 110, 12, 0.733);


/*--------------------------------------------*/ 


.btn{
    border: 2px solid rgba($color: #000000, $alpha: 1.0);
    width: 70%;
    height: 300PX;
    margin: 0 auto;
    @include elf ;
    }


body{
    background-color: aqua;
}

h1,.luc,h2,.not{
    font-size: 1.5em;
    color: yellow;
}

