$font-title: 'Shrikhand',Arial,georgia,serif;
$font: 'Roboto', sans-serif;

$grey: #f6f6f6;
$violet:#b762dc;





@mixin hei-wid ($wid,$hei){
width: $wid;
height: $hei;
}

@mixin flex-center {
display: flex;
justify-content: center;
text-align: center; 
align-items: center;
}